# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://anshikamishra3112200_db_user:<db_password>@cluster0.ypaadah.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# Email (Gmail)
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# Razorpay
RAZORPAY_KEY_ID=rzp_test_T7S58ZvO49mBLC
RAZORPAY_KEY_SECRET=XWN0dRrtGSu9hGtz8hpXa5yV

# App URLs
DIAGNOSTIC_TEST_URL=https://dakhilaa.com/diagnostic
UPGRADE_URL=https://dakhilaa.com/plans
DASHBOARD_URL=https://dakhilaa.com/dashboard
